/* CSS declarations go here */

body {
	font-family : 'Lato', 'arial';
	margin:0;
	padding:0;
	color:#212129;
	font-size:13px;
	
}

.center {
	text-align:center;
}

.container {
	width:100%;
	margin: auto;
}

h1 {
	text-align:center;
	margin-top:40px;
}

.invisible {
	display:none;
}

.visible {
	display:block;
}

a {
	text-decoration: none;
	color:#666666;
}

a:hover {
	cursor: pointer; 
	color: #000000;
}

a:active {
	color:#000000;
}

button:hover {    
	cursor: pointer;   
}

button:active{
    color:grey;
}


/*-------------------- HEADER -------------------- */

.Dropdown-control {
	
	padding-right:30px !important;
}


/*-------------------- HEADER -------------------- */
.active {
	color:black;
}

.header {
	display: grid;
	grid-template-columns: 2fr 8fr;
}

.logo {
	text-align:left;
	margin: auto 20px;
}

.menu {
	text-align:right;
}

.menu li {
	display: inline-grid;
	grid-column-gap: 50px;
	margin-right:20px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	/* Styles */
}


/*-------------------- BAR  -------------------- */

.bar {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align:center;
}

.Dropdown-control {
	border: none !important;
	width:50% !important;
	margin: auto !important;
}

.Dropdown-menu {
	margin-left:23%;
	width:49% !important;
}


/*-------------------- PRODUCTS -------------------- */

.products {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin:20px auto;
}

.product {
	text-align:center;
	margin: 30px;
	padding: 10px;
	font-family: 'Times New Roman', Times, serif;
	font-size:15px;
}

.product_page p {
	width: 70%;
	margin: 20px auto;
}

.buttonCart {
	
	padding : 10px 10px;
	background-color: white;
    color: black;
    border: 2px solid #000000;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.buttonCart:hover {
    background-color: #000000; 
    color: white;
}

.buttonCart:active {
    background-color: #ffffff; 
    color: #000000;
}


/*-------------------- LOGIN -------------------- */

.login {
	text-align:center;
	border: 1px solid #000000;
	margin: 40px auto;
	padding:12px;
	width:30%;
}

.login p {
	text-align:center;
	margin-bottom:20px;
}

.login + p {
	text-align:center;
}

.login span {
	display: inline-block;
	width:80px;
}

.buttonLogin {
	
	padding : 6px 10px;
	background-color: white;
    color: black;
    border: 2px solid #000000;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.buttonLogin:hover {
    background-color: #000000; 
    color: white;
}

.buttonLogin:active {
    background-color: #ffffff; 
    color: #000000;
}


/*-------------------- REGISTER -------------------- */

.register {
	text-align:center;
	border: 1px solid #000000;
	margin: 40px auto;
	padding:12px;
	width:30%;
}

.register p {
	text-align:center;
	margin-bottom:20px;
}

.register + p {
	text-align:center;
}

.register span {
	display: inline-block;
	width:80px;
}


/*-------------------- PROFILE -------------------- */

.profile {
	text-align:center;
	border: 1px solid #000000;
	margin: 40px auto;
	padding:12px;
	width:30%;
}



/*----------------------------------------------- CART ------------------------------------------------- */

.product_page {
	margin:30px auto;
	padding:12px;
	text-align:center;
	width:50%;
	font-family: 'Times New Roman', Times, serif;
	font-size:15px;
}


.list_cart {
	border: 1px solid #000000;
	margin: 40px auto;
	width:90%;
	text-align:center;
}

.list_cart div {

	margin: 40px auto;
	width:90%;

}



/*------------------------------------------------- ADMIN --------------------------------------------------- */


/*-------------------- ADMIN MENU -------------------- */
.admin_menu li{
	display: inline-grid;
	margin-right:50px;
}

.admin_menu {
	text-align:center;
}


/*-------------------- CREATE PRODUCT -------------------- */

.Create_product {
	text-align:center;
}

.Create_product table{
	border: 1px solid #000000;
	margin: 40px auto;
	width:90%;
}

.Create_product th{
	height: 50px;
}

.Create_product td{
	height: 30px;
}


/*-------------------- ADMIN PRODUCT -------------------- */


.admin_product {
	border: 1px solid #000000;
	margin: 40px auto;
	width:90%;
	text-align:center;
}

.admin_product th{
	height: 50px;
}



.admin_product td{
	padding-bottom:20px;
	width:17%;
}


/*-------------------- ADMIN ORDER -------------------- */

.admin_display_orders {
	border: 1px solid #000000;
	margin: 40px auto;
	text-align:center;
	width:90%;
}

.admin_display_orders  td{
	width:17%;
	
}
.admin_order_product1 {
	border: 1px solid #000000;
	margin: 40px auto;
	text-align:center;
	width:90%;
}

.admin_order_product1{
     
}

.admin_order_product2 {
	
	width:100%;
}



/*----------------------------------------------- CART ------------------------------------------------- */


/*-------------------- CART -------------------- */

.cart {
	border: 1px solid #000000;
	margin: 40px auto;
	width:90%;
	text-align:center;
}

.cart th{
	height: 50px;
}

.plus {
	font-size: 1.8em;
	vertical-align:sub;
}

.buttonDelete {
	
	padding : 10px 10px;
	background-color: white;
    color: black;
    border: 2px solid #000000;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.buttonDelete:hover {
    background-color: #ff0000; 
    color: white;
}

.buttonDelete:active {
    background-color: #ffffff; 
    color: #ff0000;
}

.cart td{
	padding-bottom:20px;
	width:17%;
}

.cart_total {
	font-weight: bold;
	margin-right: 25%;
	text-align:right;
}


/*-------------------- CHECKOUT -------------------- */

.checkout {
	text-align:center;
	border: 1px solid #000000;
	margin: 40px auto;
	padding:12px;
	width:30%;
}

.checkout p {
	text-align:center;
	margin-bottom:20px;
}

.checkout + p {
	text-align:center;
	margin-bottom: 30px;
}

.checkout +p + div {
	text-align:center;
}

.checkout span {
	display: inline-block;
	width:80px;
}

.payment {
	text-align:center;
}


/*------------------------------------------------- User -------------------------------------------------- */

.user_order {
	border: 1px solid #000000;
	margin: 40px auto;
	width:90%;
	text-align:center;
}

.user_order th{
	height: 50px;
}

.user_order th{
	width:20%;
}

.user_order td{
	width:20%;
}
